/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.header {
  background-image: var(--bg-image);
	position: relative;
	padding: 0 10px;
	display: grid;
	min-height: 668px;
}

.rec-label {
  position: absolute;
  display: inline-block;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.rec-label-text {
  font-size: var(--main-font-size);
  line-height: 25px;
  font-family: var(--main-font);
  font-weight: var(--font-weight-regular);
  color: var(--rec-text-color);
}

.rec-label::after {
  content: '';
  position: absolute;
  box-shadow: 0 0 2px 2px var(--rec-text-color);
  border-radius: 100%; 
  background-color: var(--rec-text-color);
  inline-size: 9px; 
  block-size: 9px;
  text-align: center; 
  color: var(--rec-text-color);
  inset-inline-end: -20px;
	inset-block-start: 25%;
}

.header__theme-menu {
  margin-block-start: min(max(75px, 10vw), 192px);
  justify-items: end;
  margin-right: 10px;
}
 
.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
  list-style-type: none;
  padding-inline-start: 0px;
}

.header__theme-menu-button {
  cursor: pointer;
  font-size: var(--main-font-size);
  outline: none;
  border: 1px solid transparent;
  color:var(--menu-color);
  background-color: transparent;
  text-transform: lowercase;
  font-family: var(--main-font);
  padding: 1.5px 13px 4.5px;
  line-height: 18px;
  font-weight: var(--font-weight-regular);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button:hover {
  border:1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border-color: var(--menu-color);
}

  
.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 66.5px;
  font-family: var(--main-font);
 }
 
 .header_container {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 55px;
  margin-block-end: 66px;
}
  
 .header-text {
  font-size: var(--main-font-size);
  font-weight: var(--font-weight);
  line-height: 23.4px;
  font-family: var(--main-font);
 }
 
 .title-decor {
  background-color: var(--main-title-color);
  color: var(--accent-text-color); 
}

 .content {
 display: grid;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 40px;
}


.content__list-item {
  margin-top: 20px;
}

.content-tittle {
  font-family: var(--main-font);
  color: var(--content-title-color);
  font-size: var(--main-font-size);
  align-items: start;
  font-weight: 700;
  line-height: 24px;
}

.section__subtitle--type-regular{
  font-weight: var(--font-weight-regular);
  margin-block-start: 20px;
}

.content-subtittle{
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--accent-text-color);
  min-width: 355px;
  line-height: 23px;
  margin-block-end: 10px;
}


.border__setting {
  margin-block-start: 20px;
}

.content-paragraph {
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  align-items: start;
  min-width: 355px;
  font-weight: var(--font-weight-regular);
  font-family: var(--main-font);
  margin-block-end: 20px;
}
 

.highlighted-link-shadow {
  text-shadow: 2px 2px 0 var(--main-title-color);
  text-decoration: none;
}

.highlighted-link-shadow:hover::after {
	content: '';
	position: absolute;
	background-color: currentColor;
	inset-inline-start: 0;
	inset-inline-end: 0;
	inset-block-end: 0;
	block-size: 1px;
}

.content-images__list {
  display:grid;
	list-style: none;   
  gap: 10px;         
}

.content__image {
  height: 100%;
  width: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  place-items: center;
  min-width: clamp(375px, calc(50vw - 15px), 1143px);
  min-height: 768px;
  margin-block-start: 10px;
}

.footer-title {
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 1px 1px 0  var(--shadow-color);
  color: var(--title-color);
  min-width: 348px;
  font-family: var(--main-font);
}

.decorative-corner{
position: relative;
}

.decorative-corner::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 25px; 
  height: 25px; 
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
}

.decorative-corner::after {
  content: '';
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
	border-inline-start: 1px solid var(--corner-color);
	border-block-end: 1px solid var(--corner-color);
  width: 25px; 
  height: 25px; 
}

@media (width >= 768px) {

  .header,.decorative-corner {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  }
 
  .header__theme-menu {
  align-self: flex-end; 
}

.header-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-block-start: 173px;
}

.header_container {
  justify-self: end;
  max-width: calc(364px + 49.6vw - 381.568px);
  margin-block-start: 162px;
  margin-block-end: 183px;
}

.title-decor {
  font-weight: 700;
  background-color: var(--main-title-color);
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.content-tittle{
  margin-top: 10px;
}
.content:not(.content-text-reason):not(.content-images):not(.content-tittle) {
  grid-column: 1 / span 2; 
}

.content:not(.content-text-reason):not(.content-images) > *:not(.content-tittle) {
  grid-column: 2 / 4; 
}

.content-text-reason.content-tittle {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.content-text-reason > *:not(.content-tittle) {
  grid-column: 1 / 4;
  grid-row: 2 / auto;
}

.content-images .content-subtittle {
  margin: 0;
}

.content-images .content-subtittle,
.content-images > *:not(.content-subtittle) {
  grid-column: 1 / 4; 
}

.content-images__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content-images__item:nth-child(1) {
  grid-column: 1 / span 2; /* Первые две колонки первой строки */
  grid-row: 1 / span 1; /* Одна строка */
}

.content-images__item:nth-child(2) {
  grid-column: 3 / span 1; /* Третья колонка */
  grid-row: 1 / span 2; /* Две строки */
}

.content-images__item:nth-child(3) {
  grid-column: 2 / span 1; /* Вторая колонка */
  grid-row: 2 / span 1; /* Вторая строка */
}

.content-images__item:nth-child(4) {
  grid-column: 1 / span 1; /* Первая колонка */
  grid-row: 2 / span 2; /* Последние две строки */
}

.content-images__item:nth-child(5) {
  grid-column: 2 / span 2; /* вторая и третья колонка */
  grid-row: 3 / span 1; /* Третья строка */
}

.footer {
	min-height: 688px;
}

  .footer-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
	.header {
	padding: 0;
	}

	.header__theme-menu {
	justify-items: center;
	margin-block-start: 20px;
	}

  .header__theme-menu-list {
	flex-direction: row;
	gap: 11.5px;
	}

  .header__title {
  padding-top: 273px;
  }

  .content-text-reason .content__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	}

	.content-text-reason .content__list-item {
	grid-column: auto;
	margin-block-end: 0;
	}
}